{{ partial "html_header.html" . }}
<div id="wrapper">
  <div class="w1">
    {{ partial "page_header.html" . }} {{ partial "promo_box.html" . }}
    <main id="main" role="main">
      <section class="intro">
        <a class="anchor" name="solutions"></a>
        <div class="holder">
          <div class="intro-box">
            <p><span class="orange">we work</span> remotely!</p>
          </div>
          <div class="intro-text">
            <h2>What we do?</h2>
            <p>
              We deliver dedicated software solutions and provide consultancy to
              a wide variety of industries.
              <span class="orange">That includes:</span>
            </p>
          </div>
          <ul>
            <li>
              <div class="img-holder">
                <img src="images/ico2.png" alt="image description" />
              </div>
              <div class="text-holder">
                <h6>web-based</h6>
                <p>projects</p>
              </div>
            </li>
            <li>
              <div class="img-holder phone">
                <img src="images/ico3.png" alt="image description" />
              </div>
              <div class="text-holder">
                <h6>mobile native</h6>
                <p>and hybrid apps</p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/ico4.png" alt="image description" />
              </div>
              <div class="text-holder">
                <h6>desktop apps</h6>
                <p>and backend services</p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/ico5.png" alt="image description" />
              </div>
              <div class="text-holder">
                <h6>data storage</h6>
                <p>and manipulation</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="about-us">
        <a class="anchor" name="about"></a>
        <div class="holder">
          <h2>About us</h2>
          <div class="company">
            <h3><span class="orange">The</span> Company</h3>
            <p>
              Happy Team was founded in 2015 when 5 software developers, who
              enjoyed working together, decided to go independent and fully
              unlock their potential as a team.
            </p>
            <div class="open-close">
              <div class="slide">
                <p>
                  .NET Framework, C# and JavaScript are the tools being
                  extensively used by the team on a daily basis. But over the
                  course of years team members gathered experience in delivering
                  ASP.NET MVC websites, WPF desktop applications, Single Page
                  Applications, native iOS apps and hybrid mobile apps.
                </p>
                <p>
                  It's not only writing code but also exchanging opinions and
                  ideas that's important for the team's growth. HappyTeam loves
                  people and communities. Founders of
                  <a href="http://devday.pl">DevDay</a> and organizers of
                  <a href="http://konferencjaget.net">GET.NET</a> and
                  <a href="http://www.meetup.com/dev-LDZ/">dev@LDZ meetup</a>
                  are a part of the team. Most of the team members are also
                  successful international conference speakers.
                </p>
              </div>
              <a class="opener" href="#"
                ><span class="more">read more</span>
                <span class="less">read less</span>
                <span class="ico"><i class="fa fa-angle-down"></i></span
              ></a>
            </div>
          </div>
          <div class="technologies">
            <h3>Technologies</h3>
            <ul>
              <li>
                <i class="devicon-csharp-plain" title="C#"></i>
              </li>
              <li>
                <i class="devicon-javascript-plain" title="javascript"></i>
              </li>
              <li>
                <i class="devicon-java-plain" title="java"></i>
              </li>
              <li>
                <i class="devicon-dot-net-plain" title=".NET"></i>
              </li>
              <li>
                <i class="devicon-php-plain" title="PHP"></i>
              </li>
              <li>
                <i class="devicon-angularjs-plain" title="Angular.js"></i>
              </li>
              <li>
                <i class="devicon-react-plain" title="React"></i>
              </li>
              <li>
                <i class="devicon-vuejs-plain" title="Vue.js"></i>
              </li>
              <li>
                <i class="devicon-html5-plain" title="HTML 5"></i>
              </li>
              <li>
                <i class="devicon-css3-plain" title="CSS 3"></i>
              </li>
              <li>
                <i class="devicon-sass-plain" title="sass"></i>
              </li>
              <li>
                <i class="devicon-nodejs-plain" title="Node.js"></i>
              </li>
              <li>
                <i class="devicon-webpack-plain" title="webpack"></i>
              </li>
              <li>
                <i class="devicon-electron-original" title="electron"></i>
              </li>
              <li>
                <i class="devicon-android-plain" title="android"></i>
              </li>
              <li>
                <i class="devicon-apple-plain" title="Apple"></i>
              </li>
              <li>
                <i class="devicon-docker-plain" title="docker"></i>
              </li>
              <li>
                <i class="devicon-git-plain" title="git"></i>
              </li>
              <li>
                <i class="devicon-redis-plain" title="redis"></i>
              </li>
              <li>
                <i class="devicon-windows8-plain" title="windows"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="team">
        <a class="anchor" name="team"></a>
        <div class="holder">
          <div class="team-text">
            <h2>Who we are?</h2>
            <span class="orange">The Team</span>
            <p>
              Happy Team supports customers from around the world in their
              business by providing them with smart and passionate software
              developers. Every one of them spent last decade expanding his
              skills in software development field choosing different paths and
              technologies.
            </p>
            <ul>
              <li>
                <div class="img-holder second">
                  <img src="images/kuba.png" alt="Kuba Waliński" />
                </div>
                <span class="name">Jakub Waliński</span>
                <p>
                  Enthusiastic JS afficionado sharing his passion for the
                  front-end at various international conferences. He is also
                  managing our biggest project and the clients love his deep
                  understanding of their business model and problem domain.
                </p>
              </li>
              <li>
                <div class="img-holder third">
                  <img src="images/eldhash.png" alt="image-description" />
                </div>
                <span class="name">Maciej Woźniak</span>
                <p>
                  Software dev, interested in functional programming and
                  learning new programming languages in general. Currently, in
                  love with Elixir. Dreams of having an animal shelter. Also, a
                  tea enthusiast, runner, gamer.
                </p>
              </li>
              <li>
                <div class="img-holder forth">
                  <img src="images/emilento.png" alt="image-description" />
                </div>
                <span class="name">Emil Nowak</span>
                <p>
                  Solutions Architect, Full Stack Developer and Tech Lead with
                  17+ years of experience. Believes in creating good software
                  when passion, quality and perfection come together. Privately
                  he is happy husband and father of three kids, an AFOL (Adult
                  Fan of LEGO) and half-marathon runner.
                </p>
              </li>
              <li>
                <div class="img-holder fifth">
                  <img src="images/wilku.png" alt="Marcin Wilczyński" />
                </div>
                <span class="name">Marcin Wilczyński</span>
                <p>
                  Backend developer trying to understand the magic of
                  JavaScript. The one thing that scares him is SharePoint,
                  besides that he's afraid of nothing! In his spare time he
                  travels across Poland on a motorcycle just to clear his mind.
                </p>
              </li>
              <li>
                <div class="img-holder sixth">
                  <img src="images/marszalekartur.jpg" alt="Artur Marszałek" />
                </div>
                <span class="name">Artur Marszałek</span>
                <p>
                  Young Java, JavaScript, C# dev. He still believes that clean
                  code and unit tests make a difference. His motivation to work
                  is a desire to continuously develop himself. He likes
                  challenges and solving difficult problems. After work he tries
                  to keep in shape.
                </p>
              </li>
              <li>
                <div class="img-holder">
                  <img src="images/warna.png" alt="Damian Tarnacki" />
                </div>
                <span class="name">Damian Tarnacki</span>
                <p>
                  A developer that believes that optimised workflow for a user
                  matters. Experienced in all layers but having more passion for
                  building frontend with perfectly aligned elements. Always up
                  for riddles and weekend travels.
                </p>
              </li>
              <li>
                <div class="img-holder second">
                  <img src="images/wwrobel.png" alt="Witold Wróbel" />
                </div>
                <span class="name">Witold Wróbel</span>
                <p>
                  Software developer. Experienced in all layers, but he likes
                  backend, databases and networking the most. He's not afraid of
                  JavaScript (anymore). Believes that software design and
                  readable code do exist. After work a father and cyclist.
                </p>
              </li>
              <li>
                <div class="img-holder third">
                  <img
                    src="images/konradkolodziejski.png"
                    alt="Konrad Kołodziejski"
                  />
                </div>
                <span class="name">Konrad Kołodziejski</span>
                <p>
                  Long-haired developer who believes that user experience is far
                  less important than well-written and properly tested backend.
                  Likes to drink coffee as much as writing things in Java.
                  Seriously addicted to metal music.
                </p>
              </li>
              <li>
                <div class="img-holder forth">
                  <img src="images/adamjastrzabek.png" alt="Adam Jastrząbek" />
                </div>
                <span class="name">Adam Jastrząbek</span>
                <p>
                  A man that is not afraid of any technologies. Experienced Java
                  developer and JavaScript enthusiast. Loves to solve issues,
                  take photos and listen to electronic music. He dreams about
                  publishing his own indie game for a long time, trying to
                  believe, that dreams really do come true.
                </p>
              </li>
              <li>
                <div class="img-holder fifth">
                  <img
                    src="images/adamwojciechowski.jpg"
                    alt="Adam Wojciechowski"
                  />
                </div>
                <span class="name">Adam Wojciechowski</span>
                <p>
                  Software developer focused on creating service layers. In love
                  with defining Domain specific languages and automated
                  processes. Young functional programmer. After work happy
                  father and casual gamer.
                </p>
              </li>
              <li>
                <div class="img-holder sixth">
                  <img
                    src="images/szymonniedzwiedzki.png"
                    alt="Szymon Niedźwiedzki"
                  />
                </div>
                <span class="name">Szymon Niedźwiedzki</span>
                <p>
                  Full-stack developer who is getting more into management
                  areas. He loves solving complex problems and working in
                  positive vibes. Privately a father, sailor and volleyball
                  player. Enjoys playing board games.
                </p>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="images/grzegorzkopowski.jpg"
                    alt="Grzegorz Kopowski"
                  />
                </div>
                <span class="name">Grzegorz Kopowski</span>
                <p>
                  JavaScript developer who tried a few different programming
                  languages but sticked to the frontend eventually. Enjoys
                  playing guitar, board games and computer games. No longer
                  long-haired, but still seriously addicted to metal music.
                </p>
              </li>
              <li>
                <div class="img-holder second">
                  <img src="images/michaltecza.png" alt="Michał Tęcza" />
                </div>
                <span class="name">Michał Tęcza</span>
                <p>
                  JavaScript dev passionate about functional programming who
                  believes a user interface is like a joke - if you have to
                  explain it, it’s not that good. Privately a board game nerd
                  who likes to spend his free time on a shooting range and a
                  basketball court.
                </p>
              </li>
              <li>
                <div class="img-holder third">
                  <img src="images/ewapietura.png" alt="Ewa Pietura" />
                </div>
                <span class="name">Ewa Pietura</span>
                <p>
                  Quality Assurance Specialist with Polish language teaching
                  facilities, which gives her special powers as manifested in
                  her soft skills. One day she discovered passion for IT and
                  became a tester. There is no edge case that can frighten her.
                  Privately she enjoys hanging on a rope, stuck to the wall,
                  where she's looking for the right place to put a toe on the
                  rock.
                </p>
              </li>
              <li>
                <div class="img-holder forth">
                  <img
                    src="images/alinapiatekpustelak.png"
                    alt="Alina Piątek-Pustelak"
                  />
                </div>
                <span class="name">Alina Piątek-Pustelak</span>
                <p>
                  Changed her career from Finance to IT as apparently after 5
                  years of being married to a software developer, she knows how
                  to bridle IT geeks. Enthusiastically enters meanders of
                  quality assurance. After hours gym shark and proud owner of
                  the best dog in the world - Diuna.
                </p>
              </li>
              <li>
                <div class="img-holder fifth">
                  <img src="images/jakubpilarczyk.jpg" alt="Jakub Pilarczyk" />
                </div>
                <span class="name">Jakub Pilarczyk</span>
                <p>
                  Software tester interested mostly in test automation.
                  Self-proclaimed ambassador of Robot Framework - a simple,
                  powerful but underused technology. Addicted to sun and sea.
                  Brewer, watch collector and card player.
                </p>
              </li>
              <li>
                <div class="img-holder sixth">
                  <img src="images/piotrpaczula.png" alt="Piotr Paczuła" />
                </div>
                <span class="name">Piotr Paczuła</span>
                <p>
                  Young fullstack developer who is open to learning new
                  programming languages. Desperately tries to find TypeScript
                  enthusiasts among other developers. Privately Marvel Comics
                  geek who likes spending time on basketball court and gym.
                </p>
              </li>
              <li>
                <div class="img-holder">
                  <img src="images/michalkowal.png" alt="Michał Kowal" />
                </div>
                <span class="name">Michał Kowal</span>
                <p>
                  A person who loves to create! Interesting, creative projects,
                  that's what makes him most happy. He likes to create in
                  golang, vue and .net the most, but also adapts to other
                  technologies. Outside of work, a fan of cycling and walking.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="values">
        <div class="holder">
          <div class="values-text">
            <h2>Our Values</h2>
            <span class="orange">What we believe in</span>
            <p>
              Our values define who we are. They are the fundamental beliefs of
              our team. They influence the way we work with each other, serve
              our customers and engage with communities.
            </p>
          </div>
          <ul>
            <li>
              <div class="img-holder">
                <img src="images/ico20.png" alt="image description" />
              </div>
              <p>Caring</p>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/ico21.png" alt="image description" />
              </div>
              <p>Knowledge Sharing</p>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/ico22.png" alt="image description" />
              </div>
              <p>Passion</p>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/ico23.png" alt="image description" />
              </div>
              <p>Fun</p>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/ico24.png" alt="image description" />
              </div>
              <p>Excellence</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="join-us">
        <a class="anchor" name="join"></a>
        <div class="holder">
          <div class="join-us-text">
            <h2>Join</h2>
            <span class="orange">Come work with us</span>
          </div>
          <ul
            class="list"
            style="margin-left: auto; margin-right: auto; max-width: 1220px"
          >
            <li class="list-item">
              <div class="list-content">
                <h3>Happy Developer</h3>
                <p>
                  We are always looking for talented people.<br />
                  Please visit <a href="https://justjoin.it/?q=Happy%20Team@company_name">justjoin.it</a>
                  to check the latest job offers<br />
                  or drop us an <a href="mailto:careers@happyteam.io">email</a>.
                </p>
              </div>
            </li>

            <!--
			This section is for future job offers.
			
                        {{ range (where (where .Site.Pages "Type" "job") "IsPage" true) }}
                        <li class="list-item">
							<div class="list-content">
                                <h3>{{ .Title }}</h3>
                                <p>{{ .Description }}</p>
                                <a href="{{ .Permalink }}" class="btn read-more">Read more</a>
                            </div>
                        </li>
                        {{ end }}
            -->
          </ul>
        </div>
      </section>
      <section class="testimonials">
        <a class="anchor" name="testimonials"></a>
        <div class="holder">
          <div class="testimonials-text">
            <h2>Testimonials</h2>
            <span class="orange">See what our clients say about us</span>
          </div>
          <ul
            class="list"
            style="margin-left: auto; margin-right: auto; max-width: 1220px"
          >
            <li class="list-item">
              <div class="list-content">
                <img
                  style="height: 100px"
                  src="images/testimonials/logo_rainbow_rgb.png"
                />
                <p style="margin-top: 15px">
                  Our cooperation with Happy Team started when Kuba Walinski -
                  one of the founders - gave us a helping hand on a project that
                  was at risk. Even though we never met in person I must admit
                  that any work done for us by Happy Team is of great quality
                  and always on time. Moreover, Happy Team understands our
                  business very well, even though we realise our explanations
                  are not always crystal clear ;)<br />
                  I definitely recommend Happy Team!
                </p>
                <span>
                  Emilia Bratkowska<br />
                  Director of Marketing, Rainbow Tours S.A.
                </span>
              </div>
            </li>
            <li class="list-item">
              <div class="list-content">
                <img
                  style="height: 100px"
                  src="images/testimonials/Ricky-0010.png"
                />
                <p style="margin-top: 15px">
                  I have been working with Happy Team for over a year and have
                  been impressed with their talent, professionalism and problem
                  solving abilities. They have always delivered on time without
                  the need for oversight. They have been a true force multiplier
                  for my business.
                </p>
                <span>
                  Riccardo Terrell<br />
                  Teknology360
                </span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="news">
        <div class="holder">
          <h2>What's new?</h2>
          <span class="orange">Our Blog</span>
          <div class="four-articles">
            {{ range first 4 (where .Site.Pages "Type" "post") }} {{ if eq .Type
            "post"}} {{ $author := index .Site.Params.authors .Params.author}}
            <article class="blog">
              <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
              <span class="author">{{ $author.fullname }}</span>
              <p>{{ .Description }}</p>
              <a href="{{ .Permalink }}">read more</a>
            </article>
            {{ end }} {{ end }}
          </div>
          <a href="/blog" class="btn">See All</a>
        </div>
      </section>
    </main>
  </div>
  {{ partial "page_footer.html" . }}
</div>
{{ partial "html_footer.html" . }}
