	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="/js/jquery-3.6.0.min.js"><\/script>')</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
	<script type="text/javascript">window.hljs || document.write('<script src="/js/highlight-11.0.1.min.js"><\/script>')</script>
	<script>hljs.highlightAll();</script>

	<script type="text/javascript" src="/js/jsbundle.min.js"></script>
</body>
</html>
