<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .IsHome }}
    	<title>Happy Team</title>
    {{ else }}
    	<title>{{ .Title }} - Happy Team</title>
    {{ end }}
    <meta name="description" content="Happy Team delivers dedicated software solutions and provide consultancy to a wide variety of industries. We supports customers from around the world in their business by providing them with smart and passionate software developers. Every one of them spent last decade expanding his skills in software development field choosing different paths and technologies." />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for HappyTeam.io" href="/index.xml" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
    <link media="all" rel="stylesheet" href="/css/main.min.css?{{ dateFormat "20060102150405" .Now }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic,700italic,800,800italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="/css/default.min.css?{{ dateFormat "20060102150405" .Now }}">
    <link rel="canonical" href="{{ .Permalink }}"/>
    {{ if .IsPage }}
        {{ if eq .Type "post"}}
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }} - Happy Team" />
        <meta property="og:description" content="{{ .Description }}" />
        <meta property="og:image" content="{{ trim .Site.BaseURL "/" }}{{ .Params.cover }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@happyteamio">
        <meta name="twitter:creator" content="@happyteamio">
        <meta name="twitter:title" content="{{ .Title }} - Happy Team">
        <meta name="twitter:description" content="{{ .Description }}">
        <meta name="twitter:image" content="{{ trim .Site.BaseURL "/" }}{{ .Params.cover }}">
        {{ end }}
    {{ else }}
    <meta property="og:url" content="{{ .Site.BaseURL}}" />
    <meta property="og:title" content="Happy Team's Official Website" />
    <meta property="og:description" content="Happy Team is software company focused not only on providing solutions with speed and quality, but also having fun in the process!" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/facebook_preview.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@happyteamio">
    <meta name="twitter:creator" content="@happyteamio">
    <meta name="twitter:title" content="Happy Team's Official Website">
    <meta name="twitter:description" content="Happy Team is software company focused not only on providing solutions with speed and quality, but also having fun in the process!">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/facebook_preview.png">
	{{ end }}

    {{ template "_internal/google_analytics_async.html" . }}
</head>
<body>
