<!DOCTYPE html>
<html>
<head>
    <script type="text/human">
        /*                                                                                                                                                                                                                      
                                                                                                                                                                                                                       
        hhhhhhh                                                                                                     tttt                                                                                iiii                   
        h:::::h                                                                                                  ttt:::t                                                                               i::::i                  
        h:::::h                                                                                                  t:::::t                                                                                iiii                   
        h:::::h                                                                                                  t:::::t                                                                                                       
         h::::h hhhhh         aaaaaaaaaaaaa  ppppp   ppppppppp   ppppp   pppppppppyyyyyyy           yyyyyyyttttttt:::::ttttttt        eeeeeeeeeeee    aaaaaaaaaaaaa      mmmmmmm    mmmmmmm           iiiiiii    ooooooooooo   
         h::::hh:::::hhh      a::::::::::::a p::::ppp:::::::::p  p::::ppp:::::::::py:::::y         y:::::y t:::::::::::::::::t      ee::::::::::::ee  a::::::::::::a   mm:::::::m  m:::::::mm         i:::::i  oo:::::::::::oo 
         h::::::::::::::hh    aaaaaaaaa:::::ap:::::::::::::::::p p:::::::::::::::::py:::::y       y:::::y  t:::::::::::::::::t     e::::::eeeee:::::eeaaaaaaaaa:::::a m::::::::::mm::::::::::m         i::::i o:::::::::::::::o
         h:::::::hhh::::::h            a::::app::::::ppppp::::::ppp::::::ppppp::::::py:::::y     y:::::y   tttttt:::::::tttttt    e::::::e     e:::::e         a::::a m::::::::::::::::::::::m         i::::i o:::::ooooo:::::o
         h::::::h   h::::::h    aaaaaaa:::::a p:::::p     p:::::p p:::::p     p:::::p y:::::y   y:::::y          t:::::t          e:::::::eeeee::::::e  aaaaaaa:::::a m:::::mmm::::::mmm:::::m         i::::i o::::o     o::::o
         h:::::h     h:::::h  aa::::::::::::a p:::::p     p:::::p p:::::p     p:::::p  y:::::y y:::::y           t:::::t          e:::::::::::::::::e aa::::::::::::a m::::m   m::::m   m::::m         i::::i o::::o     o::::o
         h:::::h     h:::::h a::::aaaa::::::a p:::::p     p:::::p p:::::p     p:::::p   y:::::y:::::y            t:::::t          e::::::eeeeeeeeeee a::::aaaa::::::a m::::m   m::::m   m::::m         i::::i o::::o     o::::o
         h:::::h     h:::::ha::::a    a:::::a p:::::p    p::::::p p:::::p    p::::::p    y:::::::::y             t:::::t    tttttte:::::::e         a::::a    a:::::a m::::m   m::::m   m::::m         i::::i o::::o     o::::o
         h:::::h     h:::::ha::::a    a:::::a p:::::ppppp:::::::p p:::::ppppp:::::::p     y:::::::y              t::::::tttt:::::te::::::::e        a::::a    a:::::a m::::m   m::::m   m::::m        i::::::io:::::ooooo:::::o
         h:::::h     h:::::ha:::::aaaa::::::a p::::::::::::::::p  p::::::::::::::::p       y:::::y               tt::::::::::::::t e::::::::eeeeeeeea:::::aaaa::::::a m::::m   m::::m   m::::m ...... i::::::io:::::::::::::::o
         h:::::h     h:::::h a::::::::::aa:::ap::::::::::::::pp   p::::::::::::::pp       y:::::y                  tt:::::::::::tt  ee:::::::::::::e a::::::::::aa:::am::::m   m::::m   m::::m .::::. i::::::i oo:::::::::::oo 
         hhhhhhh     hhhhhhh  aaaaaaaaaa  aaaap::::::pppppppp     p::::::pppppppp        y:::::y                     ttttttttttt      eeeeeeeeeeeeee  aaaaaaaaaa  aaaammmmmm   mmmmmm   mmmmmm ...... iiiiiiii   ooooooooooo   
                                              p:::::p             p:::::p               y:::::y                                                                                                                                
                                              p:::::p             p:::::p              y:::::y                                                                                                                                 
                                             p:::::::p           p:::::::p            y:::::y                                                                                                                                  
                                             p:::::::p           p:::::::p           y:::::y                                                                                                                                   
                                             p:::::::p           p:::::::p          yyyyyyy                                                                                                                                    
                                             ppppppppp           ppppppppp                                                                                                                                                     
                                                                                                                                                                                                                               
        Thanks for taking a peek!
        If you are looking for a job, visit https://justjoin.it/?q=Happy%20Team@company_name
        or drop us an email to careers@happyteam.io

        */
    </script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .IsHome }}
    	<title>Happy Team</title>
    {{ else }}
    	<title>{{ .Title }} - Happy Team</title>
    {{ end }}
    <meta name="description" content="Happy Team delivers dedicated software solutions and provide consultancy to a wide variety of industries. We supports customers from around the world in their business by providing them with smart and passionate software developers. Every one of them spent last decade expanding his skills in software development field choosing different paths and technologies." />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for HappyTeam.io" href="/index.xml" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
    <link media="all" rel="stylesheet" href="/css/main.min.css?{{ now.Format "20060102150405" }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic,700italic,800,800italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="/css/default.min.css?{{ now.Format "20060102150405" }}">
    <link rel="canonical" href="{{ .Permalink }}"/>
    {{ if .IsPage }}
        {{ if eq .Type "post"}}
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }} - Happy Team" />
        <meta property="og:description" content="{{ .Description }}" />
        <meta property="og:image" content="{{ trim .Site.BaseURL "/" }}{{ .Params.cover }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@happyteamio">
        <meta name="twitter:creator" content="@happyteamio">
        <meta name="twitter:title" content="{{ .Title }} - Happy Team">
        <meta name="twitter:description" content="{{ .Description }}">
        <meta name="twitter:image" content="{{ trim .Site.BaseURL "/" }}{{ .Params.cover }}">
        {{ end }}
    {{ else }}
    <meta property="og:url" content="{{ .Site.BaseURL}}" />
    <meta property="og:title" content="Happy Team's Official Website" />
    <meta property="og:description" content="Happy Team is software company focused not only on providing solutions with speed and quality, but also having fun in the process!" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/facebook_preview.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@happyteamio">
    <meta name="twitter:creator" content="@happyteamio">
    <meta name="twitter:title" content="Happy Team's Official Website">
    <meta name="twitter:description" content="Happy Team is software company focused not only on providing solutions with speed and quality, but also having fun in the process!">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/facebook_preview.png">
	{{ end }}

    {{ with .Site.GoogleAnalytics }}
    <script>
    var host = window.location.hostname;
    if(host != "localhost")
    {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{ . }}', 'auto');
        ga('send', 'pageview');
    }
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    {{ end }}
</head>
<body>
