			<header id="header">
				<div class="holder">
					<div class="logo">
						<a href="#">
							<img src="/images/logo.png" height="39" width="262" alt="HappyTeam">
						</a>
					</div>
					<nav class="nav">
						<a href="#" class="nav-opener"><span>Menu</span></a>
						<div class="drop">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#solutions">Solutions</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#team">Team</a></li>
                                <li><a href="#contact">Contact</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>