			<footer id="footer">
				<div class="holder">
                    <a class="anchor" name="contact"></a>
					<div class="contact-us">
						<h4>Contact us</h4>
						<ul>
							<li>
								<span class="ico-holder"><i class="fa fa-map-marker"></i></span>
								<div class="text-holder">
									<address>
                                        1 Maja 29/5<br>
                                        90-739 Łódź<br>
                                        Poland
                                    </address>
								</div>
							</li>
							<li>
								<span class="ico-holder"><i class="fa fa-envelope"></i></span>
								<div class="text-holder">
									<a href="mailto:&#104;&#105;&#64;&#104;&#97;&#112;&#112;&#121;&#116;&#101;&#97;&#109;&#46;&#105;&#111;">&#104;&#105;&#64;&#104;&#97;&#112;&#112;&#121;&#116;&#101;&#97;&#109;&#46;&#105;&#111;</a>
								</div>
							</li>
						</ul>  

						<h4>Menu</h4>
						<ul>
							<li><a href="{{.Site.BaseURL}}#">Home</a></li>
							<li><a href="{{.Site.BaseURL}}#solutions">Solutions</a></li>
							<li><a href="{{.Site.BaseURL}}#about">About</a></li>
							<li><a href="{{.Site.BaseURL}}#team">Team</a></li>
							<li><a href="{{.Site.BaseURL}}#testimonials">Testimonials</a></li>
							<li><a href="{{.Site.BaseURL}}blog">Blog</a></li>
							<li><a href="{{.Site.BaseURL}}#contact">Contact</a></li>
							<li><a href="{{.Site.BaseURL}}press-pack">Press Pack</a></li>
						</ul>
					</div>
					<div class="social-media">
						<h4>Social media</h4>
						<ul>
							<li><a href="https://twitter.com/happyteamio"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/happyteamio"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.linkedin.com/company/happy-team-sp--z-o-o-"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
                    <div class="contact-form">
						<h4>Write to us</h4>
						<form action="https://formspree.io/contact@happyteam.io" method="POST">
							<div class="row">
								<input name="name" type="text" placeholder="name">
							</div>
							<div class="row">
								<input name="email" type="email" placeholder="email">
							</div>
							<div class="row">
								<input name="phone" type="tel" placeholder="phone">
							</div>
							<div class="row">
								<textarea name="inquiry" cols="18" rows="2" placeholder="inquiry"></textarea>
							</div>
							<div class="row">
								<input name="send" type="submit" value="Send message">
							</div>
						</form>
					</div>
                    <div style="font-size: 10px; text-align: center; margin-top: 20px;">
                         <span style="margin: 0 10px;">KRS: 0000570355</span>
                         <span style="margin: 0 10px;">NIP: 7272797039</span>
                         <span style="margin: 0 10px;">REGON: 362194274</span>
                    </div>
                </div>
			</footer>