{{ partial "html_header.html" . }}
	<div id="wrapper">
		<div class="w1">
			{{ partial "page_header.html" . }}
			{{ partial "promo_box_short.html" . }}

            <main id="main" role="main">
				<div class="inner">
					<div class="holder">
						<div class="blog-content">
							<h1>{{ .Title }}</h1>
                            {{ .Content }}

						</div>
						<aside class="sidebar">
							{{ partial "jobs_sidebar.html" . }}
						</aside>
					</div>
				</div>
			</main>
		</div>
		{{ partial "page_footer.html" . }}	
	</div>
{{ partial "html_footer.html" . }}
